<mat-drawer-container>

  <mat-drawer #drawer [mode]="mode" [opened]="opened">

    <sidebar></sidebar>

  </mat-drawer>

  <mat-drawer-content>
    <main class="main">  

      <header class="header">
        <div class="header__search">
          <input type="text" placeholder="Buscar..." class="header__input">
        </div>
        <div>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </header>

      <div class="banner mt-5">

        <div class="banner__picture">
          <img src="https://e-cdns-images.dzcdn.net/images/artist/e65d62ecd00b8bf1ba89073943ac62a1/120x120-000000-80-0-0.jpg" alt="" class="banner__logo-img">
        </div>

        <div class="banner__content">

          <div class="banner__header">
            <p class="banner__title">Yellow</p>
            <p class="banner__artist">Codplay</p>
          </div>

          <div class="banner__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perferendis, beatae quas vitae 
            minima obcaecati? Alias nobis dolore, ea blanditiis qui facilis repellendus eius et,
            quis dolorem quae aut facere.
          </div>

          <div class="mt-4">
            <button mat-raised-button color="accent">Reproducir</button>
            <button mat-button style="margin-left: 1em;">Seguir</button>
          </div>

        </div>

      </div>

    
      <ang-music-player [audioList]="audioList"></ang-music-player>

    </main>
    
  </mat-drawer-content>

</mat-drawer-container>