<div class="sidebar">

    <div class="sidebar__logo">

        <img src="assets/images/foxbel-music.png" alt="Logo Foxbel" class="sidebar__img">

    </div>

    <ul class="sidebar__list">

        <li class="sidebar__item">
            <h3 style="color: #fff;">Mi Librería</h3>
        </li>

        <li class="sidebar__item">
            <a href="#">Recientes</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Artistas</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Álbums</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Canciones</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Estaciones</a>
        </li>

    </ul>

    <ul class="sidebar__list">

        <li class="sidebar__item">
            <h3 style="color: #fff;">Playlist</h3>
        </li>

        <li class="sidebar__item">
            <a href="#">Metal</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Para bailar</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Rock 90s</a>
        </li>

        <li class="sidebar__item">
            <a href="#">Baladas</a>
        </li>

    </ul>

</div>